.large { font-size: 160% }

.title-slide h1 {
  font-size: 55px;
  font: Fira Sans;
  font-weight: 700;
}

.remark-slide-content {
  font-size: 20px;
  /* border-top: 3px solid #0a3d62;
  border-bottom: 3px solid #0a3d62; */
  padding: 1em 4em 1em 4em;
}

/*.title-slide{
  background-image: url(logo.png);
	background-position: right bottom 20px;
	background-size: 30%;
	border-bottom: 0px solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}*/
/* Change the background color to white for shaded rows (even rows) */

.remark-slide thead, .remark-slide tr:nth-child(2n) {
    background-color: white;
}